header {
    padding: 10px;
}

.level {
    vertical-align:central;
}

.expanded-row {
    cursor: pointer;
}

.exception-block {
    background-color: #d9534f;
    color: #fff;
    padding: 5px;
    margin-top: 5px;
}

.top-vertical {
    vertical-align: top;
}

#log-table tr {
    vertical-align:top;
}

.mr-1 {
    margin-right : 4px;
}

.mr-2 {
    margin-right : 8px;
}

.no-background {
    background: none !important;
}