.exception-block {
    background-color: #d9534f;
    color: #fff;
    padding: 5px;
    margin-top: 5px;
}

.mr-1 {
    margin-right : 4px;
}

.mr-2 {
    margin-right : 8px;
}

.columns {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.search-bar {
    margin-top: 0.85rem;
}