@Master['MasterPage']

@Section['Content']
<div class="columns">
    <div class="column col-10 col-xs-12 col-md-10">
        <form action="~/discover">
            <div class="input-group">
                <input class="form-input" type="search" placeholder="Search" name="query" value="@!ViewBag.Query" />
                <button class="btn btn-primary input-group-btn" type="submit"><i class="icon icon-search"></i></button>
            </div>
        </form>
    </div>
    </div>
    <div class="column col-10 col-xs-12 col-md-10">
        @Partial['Pagination', @Current.Pages]
    </div>
    <div class="column col-10">
        <table id="log-table" class="table">
            <thead>
                <tr>
                    <th width="200px">Timestamp</th>
                    <th width="100px">Level</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                ﻿@Each.Data
                <tr class="expanded-row">
                    <td>
                        <p class="top-vertical">@Current.Timestamp</p>
                    </td>
                    <td>
                        <span class="top-vertical">@Current.Level</span>
                    </td>
                    <td>
                        <p class="top-vertical">@!Current.Message</p>
                    </td>
                </tr>
                <tr class="d-hide">
                    <td colspan="3">
                        <div class="row">
                            @If.HasProperties
                            <div>@Partial['Properties', @Current.Properties];</div>
                            @EndIf
                            @If.HasException
                            <div class="exception-block">
                                @!Current.Exception.Message
                            </div>
                            @EndIf
                        </div>
                    </td>
                </tr>
                @EndEach
            </tbody>
        </table>
    </div>
    <div class="column col-10 col-xs-12 col-md-10">
        @Partial['Pagination', @Current.Pages]
    </div>
</div>
@EndSection
