@Master['MasterPage']

@Section['Content']
<div class="row">
    <div class="col-md-12">
        @If.HasResults
        <div class="table-responsive ">
            <table id="log-table" class="table table-hover wrap">
                @Partial['LogEventData', @Current.Results]
            </table>
        </div>
        @EndIf
        @IfNot.HasResults
        <div style="text-align:center">
            <span>It looks like we do not have any logs, but we will try to find something valuable another time.</span>
        </div>
        @EndIf
    </div>
</div>
@EndSection