<tbody>
    <tr>
        <th class="col-lg-2">Timestamp</th>
        <th class="col-lg-1">Level</th>
        <th class="col-lg-9">Message</th>
    </tr>
    ﻿@Each
    <tr class="table-row">
        <td>@Current.Timestamp</td>
        <td>
            <span>@Current.Level</span>
        </td>
        <td>
            <p class="expander">@!Current.Message</p>
            <div class="hidden">
                @If.HasProperties
                <div>@Partial['Properties', @Current.Properties];</div>
                @EndIf
                @If.HasException
                <div class="exception-block">
                    @!Current.Exception.Message
                </div>
                @EndIf
            </div>
        </td>
    </tr>
    @EndEach
</tbody>