<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../Content/css/spectre.min.css">
    <link rel="stylesheet" href="../Content/css/spectre-exp.min.css">
    <link rel="stylesheet" href="../Content/css/spectre-icons.min.css">
    <link rel="stylesheet" href="../Content/css/main.css" />
    @Section['Styles']
    <title>Seeker</title>
</head>
<body>
    <div class="container">
        <div class="columns col-gapless">
            <div class="column hide-md col-lg-2 col-xl-2 col-2">
                <div class="sidebar">
                    <div class="seeker-brand">
                        <a href="/" class="seeker-logo">
                            <img src="../Content/img/seeker-logo.png" alt="Seeker" />
                            <h2>SEEKER</h2>
                        </a>
                    </div>
                    <div class="seeker-nav">
                        <div class="accordion-container">
                            <div class="accordion">
                                <input type="checkbox" id="docs-accordion-1" name="docs-accordion-checkbox" hidden checked>
                                <label class="accordion-header c-hand" for="docs-accordion-1">
                                    Discover logs
                                </label>
                                <div class="accordion-body">
                                    <ul class="menu menu-nav">
                                        <li class="menu-item">
                                            <a href="/discover">New search</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/discover?query=Level%3AError">Errors</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/discover?query=Level%3AInfo">Info</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="/discover?query=Level%3ADebug">Debug</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 col-10">
                @Section['Content']
            </div>
        </div>
    </div>
    
    <script src="../Content/js/vendor/jquery-3.2.1.min.js"></script>
    @Section['Scripts']
</body>
</html>