<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../Content/css/spectre.min.css">
    <link rel="stylesheet" href="../Content/css/spectre-exp.min.css">
    <link rel="stylesheet" href="../Content/css/spectre-icons.min.css">
    <link rel="stylesheet" href="../Content/css/seeker.css" />
    <title>Seeker</title>
</head>
<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="#" class="navbar-brand mr-2">Seeker</a>
            <a href="~/discover" class="btn btn-link">Discover</a>
            <a href="~/dashboard" class="btn btn-link">Dashboard</a>
            <a href="~/settings" class="btn btn-link">Settings</a>
        </section>
        @Section['Topbar']
        <section class="navbar-section">
            <div class="dropdown">
                <div class="btn-group">
                    <a class="btn btn-primary">@ViewBag.CurrentUser</a>
                    <a class="btn btn-primary dropdown-toggle" tabindex="0"><i class="icon icon-caret"></i></a>
                    <ul class="menu">
                        <li class="menu-item">
                            <a href="~/settings">
                                Settings
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="~/signout">
                                Sign out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </header>
    <div class="container grid-xl">
        @Section['Content']
    </div>
    <script src="../Content/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="../Content/js/seeker.js"></script>
    <![if IE]>
    <script src="../Content/js/seeker.ie.js"></script>
    <![endif]>
</body>
</html>