<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../Content/css/spectre.min.css">
    <link rel="stylesheet" href="../Content/css/signin.css" />
    <title>Seeker Sign in</title>
</head>
    <body>
        <div class="container m-2">
            <div class="columns">
                <div class="col-3 col-md-8 col-xs-12 col-mx-auto">
                    <form action="~/signin" method="post">
                        <div class="panel">
                            <div class="panel-header">
                                <div class="panel-title">Sign in</div>
                            </div>
                            <div class="panel-body">
                                @If.Error
                                <span class="text-error">Login or password is not valid</span>
                                @EndIf
                                <div class="form-group">
                                    <label class="form-label" for="username-input">Username</label>
                                    <input name="username" class="form-input" type="text" id="username-input" placeholder="Username" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="userpassword-input">Password</label>
                                    <input name="userpassword" class="form-input" type="password" id="userpassword-input" placeholder="Password" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-checkbox">
                                        <input name="rememberme" type="checkbox">
                                        <i class="form-icon"></i> Remember me
                                    </label>
                                </div>
                                <button class="btn btn-primary btn-block" type="submit">Sign in</button>
                                <div class="text-center my-1">
                                    <a href="~/signup">Create an account</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
