.loader {
    position:relative;
    width:43px;
    height:43px;
    margin: 15px auto;
}

.loader .point {
    position:absolute;
    background-color: #777;
    width:10px;
    height:10px;
    border-radius:7px;
        -o-border-radius:7px;
        -ms-border-radius:7px;
        -webkit-border-radius:7px;
        -moz-border-radius:7px;
    animation-name:bounce_circular;
        -o-animation-name:bounce_circular;
        -ms-animation-name:bounce_circular;
        -webkit-animation-name:bounce_circular;
        -moz-animation-name:bounce_circular;
    animation-duration:1.68s;
        -o-animation-duration:1.68s;
        -ms-animation-duration:1.68s;
        -webkit-animation-duration:1.68s;
        -moz-animation-duration:1.68s;
    animation-iteration-count:infinite;
        -o-animation-iteration-count:infinite;
        -ms-animation-iteration-count:infinite;
        -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
    animation-direction:normal;
        -o-animation-direction:normal;
        -ms-animation-direction:normal;
        -webkit-animation-direction:normal;
        -moz-animation-direction:normal;
}

.circular_1{
    left:0;
    top:17px;
    animation-delay:0.63s;
        -o-animation-delay:0.63s;
        -ms-animation-delay:0.63s;
        -webkit-animation-delay:0.63s;
        -moz-animation-delay:0.63s;
}

.circular_2{
    left:4px;
    top:4px;
    animation-delay:0.84s;
        -o-animation-delay:0.84s;
        -ms-animation-delay:0.84s;
        -webkit-animation-delay:0.84s;
        -moz-animation-delay:0.84s;
}

.circular_3{
    top:0;
    left:17px;
    animation-delay:1.05s;
        -o-animation-delay:1.05s;
        -ms-animation-delay:1.05s;
        -webkit-animation-delay:1.05s;
        -moz-animation-delay:1.05s;
}

.circular_4{
    right:4px;
    top:4px;
    animation-delay:1.26s;
        -o-animation-delay:1.26s;
        -ms-animation-delay:1.26s;
        -webkit-animation-delay:1.26s;
        -moz-animation-delay:1.26s;
}

.circular_5{
    right:0;
    top:17px;
    animation-delay:1.47s;
        -o-animation-delay:1.47s;
        -ms-animation-delay:1.47s;
        -webkit-animation-delay:1.47s;
        -moz-animation-delay:1.47s;
}

.circular_6{
    right:4px;
    bottom:4px;
    animation-delay:1.68s;
        -o-animation-delay:1.68s;
        -ms-animation-delay:1.68s;
        -webkit-animation-delay:1.68s;
        -moz-animation-delay:1.68s;
}

.circular_7{
    left:17px;
    bottom:0;
    animation-delay:1.89s;
        -o-animation-delay:1.89s;
        -ms-animation-delay:1.89s;
        -webkit-animation-delay:1.89s;
        -moz-animation-delay:1.89s;
}

.circular_8{
    left:4px;
    bottom:4px;
    animation-delay:2.1s;
        -o-animation-delay:2.1s;
        -ms-animation-delay:2.1s;
        -webkit-animation-delay:2.1s;
        -moz-animation-delay:2.1s;
}

@keyframes bounce_circular{ 0%{ transform:scale(1); } 100%{ transform:scale(.3); } }
@-o-keyframes bounce_circular{ 0%{ -o-transform:scale(1); } 100%{ -o-transform:scale(.3); } }
@-ms-keyframes bounce_circular{ 0%{ -ms-transform:scale(1); } 100%{ -ms-transform:scale(.3); } }
@-webkit-keyframes bounce_circular{ 0%{ -webkit-transform:scale(1); } 100%{ -webkit-transform:scale(.3); } }
@-moz-keyframes bounce_circular{ 0%{ -moz-transform:scale(1); } 100%{ -moz-transform:scale(.3); } }