body { padding-top: 70px;}

.page-block { 
    padding-bottom: 20px;
}
.hidden { display: none; }

.level {
    vertical-align:central;
}
.expander {
    cursor: pointer;
}
.exception-label {
    background-color: #d9534f;
    color: #fff;
    padding: 5px;
}