<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="seeker"
             type="Seeker.Configuration.SeekerSection, Seeker"
             allowLocation="true"
             allowDefinition="Everywhere"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <seeker port="12000"
          formatting="Indented"/>
</configuration>
