<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="Keeper"
            xsi:type="File"
            layout="${message}"
            concurrentWrites="true"
            keepFileOpen="false"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
            archiveNumbering="DateAndSequence"
            archiveFileName="${store}/Raw/Archive/Seeker.Messages.{#}.log"
            fileName="${store}/Raw/Seeker.Messages.log"
            encoding="utf-8">
    </target>
    <target name="Seeker"
            xsi:type="File"
            concurrentWrites="true"
            keepFileOpen="false"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
            maxArchiveFiles="14"
            archiveFileName="${basedir}/Logs/Archive/Seeker.{#}.log"
            fileName="${basedir}/Logs/Seeker.log"
            encoding="utf-8">
    </target>
    <target name="Seeker-Error"
            xsi:type="File"
            layout="${longdate}|${level:upperCase=true}|${logger}|${message:exceptionSeparator=|:withException=true}"
            concurrentWrites="true"
            keepFileOpen ="false"
            archiveNumbering="DateAndSequence"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="14"
            archiveFileName="${basedir}/Logs/Archive/Seeker.Error.{#}.log"
            fileName="${basedir}/Logs/Seeker.Error.log"
            encoding="utf-8">
    </target>
    <target name="Seeker-Debug"
            xsi:type="ColoredConsole"
            layout="${message}">
    </target>
  </targets>
  <rules>
    <logger name="Seeker" levels="Info,Warn" writeTo="Seeker" />
    <logger name="Seeker" writeTo="Seeker-Debug" />
    <logger name="Seeker" levels="Fatal,Error" writeTo="Seeker-Error" />
    <logger name="Keeper" level="Info" writeTo="Keeper,Seeker-Debug" />
  </rules>
</nlog>